[ req ]
 default_bits           = 2048
 distinguished_name     = req_distinguished_name
 prompt                 = no
 [ req_distinguished_name ]
 C                      = US
 ST                     = New York
 L                      = New York
 O                      = Angerona
 OU                     = IT
 CN                     = angerona
